.spectacle-deck > div:last-of-type > div {
    background: #4caf50 !important;
}

.bulb-start {
    top: -350px !important;
}

.heading {
    position: relative;
    top: -142px;
    left: 440px;
    width: 750px;
    font-size: 4rem !important;
    text-align: left;
}

.movCar {
    width: 500px;
    height: 200px;
    position: absolute;
    top: 350px;
    right: -500px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    animation-delay: 37s;
    animation: driveACar ease-in-out 1 7s 42s;
}

.weaSun {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 70px;
    right: -500px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    animation: driveACar ease-in-out 1 20s 69s;
    z-index: 10;
}

.weaCloud {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 70px;
    right: -500px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    animation: driveACar ease-in-out 1 20s 74s;
    z-index: 11;
}


@keyframes driveACar {
    0% {
        right: -900px;
    }
    40% {
        right: 200px;
    }
    60% {
        right: 200px;
    }
    100% {
        right: -900px;
    }
}

@keyframes sun {
    0% {
        right: -900px;
    }
    25% {
        right: 200px;
    }
    75% {
        right: 200px;
    }
    100% {
        right: -900px;
    }
}

@keyframes cloud {
    0% {
        right: -900px;
    }
    25% {
        right: 200px;
    }
    75% {
        right: 200px;
    }
    100% {
        right: -900px;
    }
}

.visible {
    display: block;
}

.hidden {
    display: none;
}