.phone-shape {
    width: 365px;
    height: 732px;
    border-radius: 40px;
    border: 2px solid #fff;
    margin: 0 50px;
    padding: 60px 10px;
    background-color: #f3f3f3;
    position: relative;
    box-shadow: -47px 0 0 rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.phone-screen {
    height: 602px;
    width: 340px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    overflow: hidden;
    position: relative;
    left: 0px;
}

.top-details {
    position: absolute;
    left: 0;
    top: 17px;
    width: 100%;
}

.camera, .circle, .speaker {
    border-radius: 100px;
    display: block;
    background-color: #e1e1e1;
}

.camera {
    height: 7px;
    width: 7px;
    margin: auto;
}

.circle {
    height: 9px;
    width: 9px;
    position: absolute;
    left: 95px;
    top: 16px;
}

.speaker {
    height: 7px;
    width: 90px;
    margin: 10px auto 0;
}

.buttons, .button.last {
    width: 3px;
    background: #eee;
    position: absolute;
}

.buttons {
    box-shadow: -45px 0 0 rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.button.last {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.circle-button {
    height: 40px;
    width: 40px;
    background: #e1e1e1;
    margin: 17px auto;
    border-radius: 100px;
}

.button-one {
    height: 20px;
    left: -7px;
    top: 59px;
    border-radius: 4px 0 0 4px;
}

.button-two {
    height: 40px;
    width: 3px;
    left: -7px;
    top: 110px;
    border-radius: 4px 0 0 4px;
}

.button-three {
    height: 40px;
    width: 3px;
    left: -7px;
    top: 165px;
    border-radius: 4px 0 0 4px;
}

.button-four {
    height: 40px;
    width: 3px;
    right: -7px;
    top: 110px;
    border-radius: 0 4px 4px 0;
}

.video-react-video {
    width: 100%;
    height: 100%;
}