#lampadario {
    position: fixed;
    left: 50%;
    top: 0;
}
#filo {
    position: relative;
    background-color: #000000;
    width: 4px;
    height: 250px;
    left: 50%;
    top: 0;
    margin-left: -1px;
    z-index: 1;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-animation: oscillaFilo .9s ease-in-out 0s infinite alternate;
    -moz-animation: oscillaFilo .9s ease-in-out 0s infinite alternate;
    -ms-animation: oscillaFilo .9s ease-in-out 0s infinite alternate;
    -o-animation: oscillaFilo .9s ease-in-out 0s infinite alternate;
    animation: oscillaFilo .9s ease-in-out 0s infinite alternate;
}
#filo:after {
    content: " ";
    left: -8px;
    top: 100%;
    position: absolute;
    border-bottom: 15px solid #000000;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    height: 0;
    width: 4px;
}
#lampadina {
    position:relative;
}
input[value="off"]:checked ~
#filo {
    -webkit-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
    -ms-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
    -o-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
    box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
}
input[value="off"]:checked ~
#filo:after {
    -webkit-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
    -moz-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
    -ms-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
    -o-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
    box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
}

input {
    position: absolute;
    width: 90px;
    height: 70px;
    top: 150px;
    margin-left: -45px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

input[value="on"] {
    top: 150px;
}
input[value="off"] {
    top: -100px;
}
input[value="on"]:checked {
    top: -100px;
}
input[value="on"]:checked + input[value="off"] {
    top: 150px;
}

label {
    width: 51px;
    height: 51px;
    top: 265px;
    position: absolute;
    left: 0;
    margin-left: -24px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-animation: oscillaLampadina .9s ease-in-out 0s infinite alternate;
    -moz-animation: oscillaLampadina .9s ease-in-out 0s infinite alternate;
    -ms-animation: oscillaLampadina .9s ease-in-out 0s infinite alternate;
    -o-animation: oscillaLampadina .9s ease-in-out 0s infinite alternate;
    animation: oscillaLampadina .9s ease-in-out 0s infinite alternate;
}
input[value="off"]:checked ~
    label {
    background: rgba(0,255,255,0.03);
    -webkit-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
    -ms-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
    -o-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
}

input[value="on"]:checked ~ label.none {
    background: rgba(0,255,255,0.03);
    -webkit-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
    -ms-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
    -o-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
}
input[value="on"]:checked ~ label.white {
    background: rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
    -o-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
    box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
}
input[value="on"]:checked ~ label.red {
    background: rgba(255,0,0,1);
    -webkit-box-shadow: 0px 0px 10px rgba(192,57,43,0.8), 0px 0px 30px rgba(192,57,43,0.8), 0px 0px 50px rgba(192,57,43,0.6), 0px 0px 70px rgba(192,57,43,0.6), -80px -15px 120px 0px rgba(192,57,43,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(192,57,43,0.8), 0px 0px 30px rgba(192,57,43,0.8), 0px 0px 50px rgba(192,57,43,0.6), 0px 0px 70px rgba(192,57,43,0.6), -80px -15px 120px 0px rgba(192,57,43,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(192,57,43,0.8), 0px 0px 30px rgba(192,57,43,0.8), 0px 0px 50px rgba(192,57,43,0.6), 0px 0px 70px rgba(192,57,43,0.6), -80px -15px 120px 0px rgba(192,57,43,0.4);
    -o-box-shadow: 0px 0px 10px rgba(192,57,43,0.8), 0px 0px 30px rgba(192,57,43,0.8), 0px 0px 50px rgba(192,57,43,0.6), 0px 0px 70px rgba(192,57,43,0.6), -80px -15px 120px 0px rgba(192,57,43,0.4);
    box-shadow: 0px 0px 10px rgba(192,57,43,0.8), 0px 0px 30px rgba(192,57,43,0.8), 0px 0px 50px rgba(192,57,43,0.6), 0px 0px 70px rgba(192,57,43,0.6), -80px -15px 120px 0px rgba(192,57,43,0.4);
}
input[value="on"]:checked ~ label.green {
    background: rgba(99,181,76,1);
    -webkit-box-shadow: 0px 0px 10px rgba(99,181,76,0.8), 0px 0px 30px rgba(99,181,76,0.8), 0px 0px 50px rgba(99,181,76,0.6), 0px 0px 70px rgba(99,181,76,0.6), -80px -15px 120px 0px rgba(99,181,76,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(99,181,76,0.8), 0px 0px 30px rgba(99,181,76,0.8), 0px 0px 50px rgba(99,181,76,0.6), 0px 0px 70px rgba(99,181,76,0.6), -80px -15px 120px 0px rgba(99,181,76,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(99,181,76,0.8), 0px 0px 30px rgba(99,181,76,0.8), 0px 0px 50px rgba(99,181,76,0.6), 0px 0px 70px rgba(99,181,76,0.6), -80px -15px 120px 0px rgba(99,181,76,0.4);
    -o-box-shadow: 0px 0px 10px rgba(99,181,76,0.8), 0px 0px 30px rgba(99,181,76,0.8), 0px 0px 50px rgba(99,181,76,0.6), 0px 0px 70px rgba(99,181,76,0.6), -80px -15px 120px 0px rgba(99,181,76,0.4);
    box-shadow: 0px 0px 10px rgba(99,181,76,0.8), 0px 0px 30px rgba(99,181,76,0.8), 0px 0px 50px rgba(99,181,76,0.6), 0px 0px 70px rgba(99,181,76,0.6), -80px -15px 120px 0px rgba(99,181,76,0.4);
}
input[value="on"]:checked ~ label.green-weak {
    background: rgba(99,181,76,0.7);
    -webkit-box-shadow: 0px 0px 10px rgba(99,181,76,0.2), 0px 0px 30px rgba(99,181,76,0.2), 0px 0px 20px rgba(99,181,76,0.6), 0px 0px 40px rgba(99,181,76,0.6), -50px -15px 90px 0px rgba(99,181,76,0.2);
    -moz-box-shadow: 0px 0px 10px rgba(99,181,76,0.2), 0px 0px 30px rgba(99,181,76,0.2), 0px 0px 20px rgba(99,181,76,0.6), 0px 0px 40px rgba(99,181,76,0.6), -50px -15px 90px 0px rgba(99,181,76,0.2);
    -ms-box-shadow: 0px 0px 10px rgba(99,181,76,0.2), 0px 0px 30px rgba(99,181,76,0.2), 0px 0px 20px rgba(99,181,76,0.6), 0px 0px 40px rgba(99,181,76,0.6), -50px -15px 90px 0px rgba(99,181,76,0.2);
    -o-box-shadow: 0px 0px 10px rgba(99,181,76,0.2), 0px 0px 30px rgba(99,181,76,0.2), 0px 0px 20px rgba(99,181,76,0.6), 0px 0px 40px rgba(99,181,76,0.6), -50px -15px 90px 0px rgba(99,181,76,0.2);
    box-shadow: 0px 0px 10px rgba(99,181,76,0.2), 0px 0px 30px rgba(99,181,76,0.2), 0px 0px 20px rgba(99,181,76,0.6), 0px 0px 40px rgba(99,181,76,0.6), -50px -15px 90px 0px rgba(99,181,76,0.2);
}
input[value="on"]:checked ~ label.blue {
    background: rgba(27,94,206,1);
    -webkit-box-shadow: 0px 0px 10px rgba(27,94,206,0.8), 0px 0px 30px rgba(27,94,206,0.8), 0px 0px 50px rgba(27,94,206,0.6), 0px 0px 70px rgba(27,94,206,0.6), -80px -15px 120px 0px rgba(27,94,206,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(27,94,206,0.8), 0px 0px 30px rgba(27,94,206,0.8), 0px 0px 50px rgba(27,94,206,0.6), 0px 0px 70px rgba(27,94,206,0.6), -80px -15px 120px 0px rgba(27,94,206,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(27,94,206,0.8), 0px 0px 30px rgba(27,94,206,0.8), 0px 0px 50px rgba(27,94,206,0.6), 0px 0px 70px rgba(27,94,206,0.6), -80px -15px 120px 0px rgba(27,94,206,0.4);
    -o-box-shadow: 0px 0px 10px rgba(27,94,206,0.8), 0px 0px 30px rgba(27,94,206,0.8), 0px 0px 50px rgba(27,94,206,0.6), 0px 0px 70px rgba(27,94,206,0.6), -80px -15px 120px 0px rgba(27,94,206,0.4);
    box-shadow: 0px 0px 10px rgba(27,94,206,0.8), 0px 0px 30px rgba(27,94,206,0.8), 0px 0px 50px rgba(27,94,206,0.6), 0px 0px 70px rgba(27,94,206,0.6), -80px -15px 120px 0px rgba(27,94,206,0.4);
}
input[value="on"]:checked ~ label.red-orange {
    background: rgba(251,108,51,1);
    -webkit-box-shadow: 0px 0px 10px rgba(251,108,51,0.8), 0px 0px 30px rgba(251,108,51,0.8), 0px 0px 50px rgba(251,108,51,0.6), 0px 0px 70px rgba(251,108,51,0.6), -80px -15px 120px 0px rgba(251,108,51,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(251,108,51,0.8), 0px 0px 30px rgba(251,108,51,0.8), 0px 0px 50px rgba(251,108,51,0.6), 0px 0px 70px rgba(251,108,51,0.6), -80px -15px 120px 0px rgba(251,108,51,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(251,108,51,0.8), 0px 0px 30px rgba(251,108,51,0.8), 0px 0px 50px rgba(251,108,51,0.6), 0px 0px 70px rgba(251,108,51,0.6), -80px -15px 120px 0px rgba(251,108,51,0.4);
    -o-box-shadow: 0px 0px 10px rgba(251,108,51,0.8), 0px 0px 30px rgba(251,108,51,0.8), 0px 0px 50px rgba(251,108,51,0.6), 0px 0px 70px rgba(251,108,51,0.6), -80px -15px 120px 0px rgba(251,108,51,0.4);
    box-shadow: 0px 0px 10px rgba(251,108,51,0.8), 0px 0px 30px rgba(251,108,51,0.8), 0px 0px 50px rgba(251,108,51,0.6), 0px 0px 70px rgba(251,108,51,0.6), -80px -15px 120px 0px rgba(251,108,51,0.4);
}
input[value="on"]:checked ~ label.green-spring {
    background: rgba(130,234,175,1);
    -webkit-box-shadow: 0px 0px 10px rgba(130,234,175,0.8), 0px 0px 30px rgba(130,234,175,0.8), 0px 0px 50px rgba(130,234,175,0.6), 0px 0px 70px rgba(130,234,175,0.6), -80px -15px 120px 0px rgba(130,234,175,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(130,234,175,0.8), 0px 0px 30px rgba(130,234,175,0.8), 0px 0px 50px rgba(130,234,175,0.6), 0px 0px 70px rgba(130,234,175,0.6), -80px -15px 120px 0px rgba(130,234,175,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(130,234,175,0.8), 0px 0px 30px rgba(130,234,175,0.8), 0px 0px 50px rgba(130,234,175,0.6), 0px 0px 70px rgba(130,234,175,0.6), -80px -15px 120px 0px rgba(130,234,175,0.4);
    -o-box-shadow: 0px 0px 10px rgba(130,234,175,0.8), 0px 0px 30px rgba(130,234,175,0.8), 0px 0px 50px rgba(130,234,175,0.6), 0px 0px 70px rgba(130,234,175,0.6), -80px -15px 120px 0px rgba(130,234,175,0.4);
    box-shadow: 0px 0px 10px rgba(130,234,175,0.8), 0px 0px 30px rgba(130,234,175,0.8), 0px 0px 50px rgba(130,234,175,0.6), 0px 0px 70px rgba(130,234,175,0.6), -80px -15px 120px 0px rgba(130,234,175,0.4);
}
input[value="on"]:checked ~ label.blue-violet {
    background: rgba(81,141,240,1);
    -webkit-box-shadow: 0px 0px 10px rgba(81,141,240,0.8), 0px 0px 30px rgba(81,141,240,0.8), 0px 0px 50px rgba(81,141,240,0.6), 0px 0px 70px rgba(81,141,240,0.6), -80px -15px 120px 0px rgba(81,141,240,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(81,141,240,0.8), 0px 0px 30px rgba(81,141,240,0.8), 0px 0px 50px rgba(81,141,240,0.6), 0px 0px 70px rgba(81,141,240,0.6), -80px -15px 120px 0px rgba(81,141,240,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(81,141,240,0.8), 0px 0px 30px rgba(81,141,240,0.8), 0px 0px 50px rgba(81,141,240,0.6), 0px 0px 70px rgba(81,141,240,0.6), -80px -15px 120px 0px rgba(81,141,240,0.4);
    -o-box-shadow: 0px 0px 10px rgba(81,141,240,0.8), 0px 0px 30px rgba(81,141,240,0.8), 0px 0px 50px rgba(81,141,240,0.6), 0px 0px 70px rgba(81,141,240,0.6), -80px -15px 120px 0px rgba(81,141,240,0.4);
    box-shadow: 0px 0px 10px rgba(81,141,240,0.8), 0px 0px 30px rgba(81,141,240,0.8), 0px 0px 50px rgba(81,141,240,0.6), 0px 0px 70px rgba(81,141,240,0.6), -80px -15px 120px 0px rgba(81,141,240,0.4);
}
input[value="on"]:checked ~ label.orange {
    background: rgba(249,158,121,1);
    -webkit-box-shadow: 0px 0px 10px rgba(249,158,121,0.8), 0px 0px 30px rgba(249,158,121,0.8), 0px 0px 50px rgba(249,158,121,0.6), 0px 0px 70px rgba(249,158,121,0.6), -80px -15px 120px 0px rgba(249,158,121,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(249,158,121,0.8), 0px 0px 30px rgba(249,158,121,0.8), 0px 0px 50px rgba(249,158,121,0.6), 0px 0px 70px rgba(249,158,121,0.6), -80px -15px 120px 0px rgba(249,158,121,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(249,158,121,0.8), 0px 0px 30px rgba(249,158,121,0.8), 0px 0px 50px rgba(249,158,121,0.6), 0px 0px 70px rgba(249,158,121,0.6), -80px -15px 120px 0px rgba(249,158,121,0.4);
    -o-box-shadow: 0px 0px 10px rgba(249,158,121,0.8), 0px 0px 30px rgba(249,158,121,0.8), 0px 0px 50px rgba(249,158,121,0.6), 0px 0px 70px rgba(249,158,121,0.6), -80px -15px 120px 0px rgba(249,158,121,0.4);
    box-shadow: 0px 0px 10px rgba(249,158,121,0.8), 0px 0px 30px rgba(249,158,121,0.8), 0px 0px 50px rgba(249,158,121,0.6), 0px 0px 70px rgba(249,158,121,0.6), -80px -15px 120px 0px rgba(249,158,121,0.4);
}
input[value="on"]:checked ~ label.orange-weak {
    background: rgba(249,158,121,0.7);
    -webkit-box-shadow: 0px 0px 10px rgba(249,158,121,0.2), 0px 0px 30px rgba(249,158,121,0.2), 0px 0px 20px rgba(249,158,121,0.6), 0px 0px 40px rgba(249,158,121,0.6), -20px -15px 90px 0px rgba(249,158,121,0.2);
    -moz-box-shadow: 0px 0px 10px rgba(249,158,121,0.2), 0px 0px 30px rgba(249,158,121,0.2), 0px 0px 20px rgba(249,158,121,0.6), 0px 0px 40px rgba(249,158,121,0.6), -20px -15px 90px 0px rgba(249,158,121,0.2);
    -ms-box-shadow: 0px 0px 10px rgba(249,158,121,0.2), 0px 0px 30px rgba(249,158,121,0.2), 0px 0px 20px rgba(249,158,121,0.6), 0px 0px 40px rgba(249,158,121,0.6), -20px -15px 90px 0px rgba(249,158,121,0.2);
    -o-box-shadow: 0px 0px 10px rgba(249,158,121,0.2), 0px 0px 30px rgba(249,158,121,0.2), 0px 0px 20px rgba(249,158,121,0.6), 0px 0px 40px rgba(249,158,121,0.6), -20px -15px 90px 0px rgba(249,158,121,0.2);
    box-shadow: 0px 0px 10px rgba(249,158,121,0.2), 0px 0px 30px rgba(249,158,121,0.2), 0px 0px 20px rgba(249,158,121,0.6), 0px 0px 40px rgba(249,158,121,0.6), -20px -15px 90px 0px rgba(249,158,121,0.2);
}
input[value="on"]:checked ~ label.green-cyan {
    background: rgba(140,178,164,1);
    -webkit-box-shadow: 0px 0px 10px rgba(140,178,164,0.8), 0px 0px 30px rgba(140,178,164,0.8), 0px 0px 50px rgba(140,178,164,0.6), 0px 0px 70px rgba(140,178,164,0.6), -80px -15px 120px 0px rgba(140,178,164,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(140,178,164,0.8), 0px 0px 30px rgba(140,178,164,0.8), 0px 0px 50px rgba(140,178,164,0.6), 0px 0px 70px rgba(140,178,164,0.6), -80px -15px 120px 0px rgba(140,178,164,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(140,178,164,0.8), 0px 0px 30px rgba(140,178,164,0.8), 0px 0px 50px rgba(140,178,164,0.6), 0px 0px 70px rgba(140,178,164,0.6), -80px -15px 120px 0px rgba(140,178,164,0.4);
    -o-box-shadow: 0px 0px 10px rgba(140,178,164,0.8), 0px 0px 30px rgba(140,178,164,0.8), 0px 0px 50px rgba(140,178,164,0.6), 0px 0px 70px rgba(140,178,164,0.6), -80px -15px 120px 0px rgba(140,178,164,0.4);
    box-shadow: 0px 0px 10px rgba(140,178,164,0.8), 0px 0px 30px rgba(140,178,164,0.8), 0px 0px 50px rgba(140,178,164,0.6), 0px 0px 70px rgba(140,178,164,0.6), -80px -15px 120px 0px rgba(140,178,164,0.4);
}
input[value="on"]:checked ~ label.violet {
    background: rgba(125,76,163,1);
    -webkit-box-shadow: 0px 0px 10px rgba(125,76,163,0.8), 0px 0px 30px rgba(125,76,163,0.8), 0px 0px 50px rgba(125,76,163,0.6), 0px 0px 70px rgba(125,76,163,0.6), -80px -15px 120px 0px rgba(125,76,163,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(125,76,163,0.8), 0px 0px 30px rgba(125,76,163,0.8), 0px 0px 50px rgba(125,76,163,0.6), 0px 0px 70px rgba(125,76,163,0.6), -80px -15px 120px 0px rgba(125,76,163,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(125,76,163,0.8), 0px 0px 30px rgba(125,76,163,0.8), 0px 0px 50px rgba(125,76,163,0.6), 0px 0px 70px rgba(125,76,163,0.6), -80px -15px 120px 0px rgba(125,76,163,0.4);
    -o-box-shadow: 0px 0px 10px rgba(125,76,163,0.8), 0px 0px 30px rgba(125,76,163,0.8), 0px 0px 50px rgba(125,76,163,0.6), 0px 0px 70px rgba(125,76,163,0.6), -80px -15px 120px 0px rgba(125,76,163,0.4);
    box-shadow: 0px 0px 10px rgba(125,76,163,0.8), 0px 0px 30px rgba(125,76,163,0.8), 0px 0px 50px rgba(125,76,163,0.6), 0px 0px 70px rgba(125,76,163,0.6), -80px -15px 120px 0px rgba(125,76,163,0.4);
}
input[value="on"]:checked ~ label.orange-yellow {
    background: rgba(250,195,113,1);
    -webkit-box-shadow: 0px 0px 10px rgba(250,195,113,0.8), 0px 0px 30px rgba(250,195,113,0.8), 0px 0px 50px rgba(250,195,113,0.6), 0px 0px 70px rgba(250,195,113,0.6), -80px -15px 120px 0px rgba(250,195,113,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(250,195,113,0.8), 0px 0px 30px rgba(250,195,113,0.8), 0px 0px 50px rgba(250,195,113,0.6), 0px 0px 70px rgba(250,195,113,0.6), -80px -15px 120px 0px rgba(250,195,113,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(250,195,113,0.8), 0px 0px 30px rgba(250,195,113,0.8), 0px 0px 50px rgba(250,195,113,0.6), 0px 0px 70px rgba(250,195,113,0.6), -80px -15px 120px 0px rgba(250,195,113,0.4);
    -o-box-shadow: 0px 0px 10px rgba(250,195,113,0.8), 0px 0px 30px rgba(250,195,113,0.8), 0px 0px 50px rgba(250,195,113,0.6), 0px 0px 70px rgba(250,195,113,0.6), -80px -15px 120px 0px rgba(250,195,113,0.4);
    box-shadow: 0px 0px 10px rgba(250,195,113,0.8), 0px 0px 30px rgba(250,195,113,0.8), 0px 0px 50px rgba(250,195,113,0.6), 0px 0px 70px rgba(250,195,113,0.6), -80px -15px 120px 0px rgba(250,195,113,0.4);
}
input[value="on"]:checked ~ label.cyan {
    background: rgba(94,231,232,1);
    -webkit-box-shadow: 0px 0px 10px rgba(94,231,232,0.8), 0px 0px 30px rgba(94,231,232,0.8), 0px 0px 50px rgba(94,231,232,0.6), 0px 0px 70px rgba(94,231,232,0.6), -80px -15px 120px 0px rgba(94,231,232,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(94,231,232,0.8), 0px 0px 30px rgba(94,231,232,0.8), 0px 0px 50px rgba(94,231,232,0.6), 0px 0px 70px rgba(94,231,232,0.6), -80px -15px 120px 0px rgba(94,231,232,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(94,231,232,0.8), 0px 0px 30px rgba(94,231,232,0.8), 0px 0px 50px rgba(94,231,232,0.6), 0px 0px 70px rgba(94,231,232,0.6), -80px -15px 120px 0px rgba(94,231,232,0.4);
    -o-box-shadow: 0px 0px 10px rgba(94,231,232,0.8), 0px 0px 30px rgba(94,231,232,0.8), 0px 0px 50px rgba(94,231,232,0.6), 0px 0px 70px rgba(94,231,232,0.6), -80px -15px 120px 0px rgba(94,231,232,0.4);
    box-shadow: 0px 0px 10px rgba(94,231,232,0.8), 0px 0px 30px rgba(94,231,232,0.8), 0px 0px 50px rgba(94,231,232,0.6), 0px 0px 70px rgba(94,231,232,0.6), -80px -15px 120px 0px rgba(94,231,232,0.4);
}
input[value="on"]:checked ~ label.violet-pink {
    background: rgba(210,13,119,1);
    -webkit-box-shadow: 0px 0px 10px rgba(210,13,119,0.8), 0px 0px 30px rgba(210,13,119,0.8), 0px 0px 50px rgba(210,13,119,0.6), 0px 0px 70px rgba(210,13,119,0.6), -80px -15px 120px 0px rgba(210,13,119,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(210,13,119,0.8), 0px 0px 30px rgba(210,13,119,0.8), 0px 0px 50px rgba(210,13,119,0.6), 0px 0px 70px rgba(210,13,119,0.6), -80px -15px 120px 0px rgba(210,13,119,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(210,13,119,0.8), 0px 0px 30px rgba(210,13,119,0.8), 0px 0px 50px rgba(210,13,119,0.6), 0px 0px 70px rgba(210,13,119,0.6), -80px -15px 120px 0px rgba(210,13,119,0.4);
    -o-box-shadow: 0px 0px 10px rgba(210,13,119,0.8), 0px 0px 30px rgba(210,13,119,0.8), 0px 0px 50px rgba(210,13,119,0.6), 0px 0px 70px rgba(210,13,119,0.6), -80px -15px 120px 0px rgba(210,13,119,0.4);
    box-shadow: 0px 0px 10px rgba(210,13,119,0.8), 0px 0px 30px rgba(210,13,119,0.8), 0px 0px 50px rgba(210,13,119,0.6), 0px 0px 70px rgba(210,13,119,0.6), -80px -15px 120px 0px rgba(210,13,119,0.4);
}
input[value="on"]:checked ~ label.yellow {
    background: rgba(241,210,133,1);
    -webkit-box-shadow: 0px 0px 10px rgba(241,210,133,0.8), 0px 0px 30px rgba(241,210,133,0.8), 0px 0px 50px rgba(241,210,133,0.6), 0px 0px 70px rgba(241,210,133,0.6), -80px -15px 120px 0px rgba(241,210,133,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(241,210,133,0.8), 0px 0px 30px rgba(241,210,133,0.8), 0px 0px 50px rgba(241,210,133,0.6), 0px 0px 70px rgba(241,210,133,0.6), -80px -15px 120px 0px rgba(241,210,133,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(241,210,133,0.8), 0px 0px 30px rgba(241,210,133,0.8), 0px 0px 50px rgba(241,210,133,0.6), 0px 0px 70px rgba(241,210,133,0.6), -80px -15px 120px 0px rgba(241,210,133,0.4);
    -o-box-shadow: 0px 0px 10px rgba(241,210,133,0.8), 0px 0px 30px rgba(241,210,133,0.8), 0px 0px 50px rgba(241,210,133,0.6), 0px 0px 70px rgba(241,210,133,0.6), -80px -15px 120px 0px rgba(241,210,133,0.4);
    box-shadow: 0px 0px 10px rgba(241,210,133,0.8), 0px 0px 30px rgba(241,210,133,0.8), 0px 0px 50px rgba(241,210,133,0.6), 0px 0px 70px rgba(241,210,133,0.6), -80px -15px 120px 0px rgba(241,210,133,0.4);
}
input[value="on"]:checked ~ label.cyan-blue {
    background: rgba(22,185,221,1);
    -webkit-box-shadow: 0px 0px 10px rgba(22,185,221,0.8), 0px 0px 30px rgba(22,185,221,0.8), 0px 0px 50px rgba(22,185,221,0.6), 0px 0px 70px rgba(22,185,221,0.6), -80px -15px 120px 0px rgba(22,185,221,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(22,185,221,0.8), 0px 0px 30px rgba(22,185,221,0.8), 0px 0px 50px rgba(22,185,221,0.6), 0px 0px 70px rgba(22,185,221,0.6), -80px -15px 120px 0px rgba(22,185,221,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(22,185,221,0.8), 0px 0px 30px rgba(22,185,221,0.8), 0px 0px 50px rgba(22,185,221,0.6), 0px 0px 70px rgba(22,185,221,0.6), -80px -15px 120px 0px rgba(22,185,221,0.4);
    -o-box-shadow: 0px 0px 10px rgba(22,185,221,0.8), 0px 0px 30px rgba(22,185,221,0.8), 0px 0px 50px rgba(22,185,221,0.6), 0px 0px 70px rgba(22,185,221,0.6), -80px -15px 120px 0px rgba(22,185,221,0.4);
    box-shadow: 0px 0px 10px rgba(22,185,221,0.8), 0px 0px 30px rgba(22,185,221,0.8), 0px 0px 50px rgba(22,185,221,0.6), 0px 0px 70px rgba(22,185,221,0.6), -80px -15px 120px 0px rgba(22,185,221,0.4);
}
input[value="on"]:checked ~ label.pink {
    background: rgba(229,96,194,1);
    -webkit-box-shadow: 0px 0px 10px rgba(229,96,194,0.8), 0px 0px 30px rgba(229,96,194,0.8), 0px 0px 50px rgba(229,96,194,0.6), 0px 0px 70px rgba(229,96,194,0.6), -80px -15px 120px 0px rgba(229,96,194,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(229,96,194,0.8), 0px 0px 30px rgba(229,96,194,0.8), 0px 0px 50px rgba(229,96,194,0.6), 0px 0px 70px rgba(229,96,194,0.6), -80px -15px 120px 0px rgba(229,96,194,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(229,96,194,0.8), 0px 0px 30px rgba(229,96,194,0.8), 0px 0px 50px rgba(229,96,194,0.6), 0px 0px 70px rgba(229,96,194,0.6), -80px -15px 120px 0px rgba(229,96,194,0.4);
    -o-box-shadow: 0px 0px 10px rgba(229,96,194,0.8), 0px 0px 30px rgba(229,96,194,0.8), 0px 0px 50px rgba(229,96,194,0.6), 0px 0px 70px rgba(229,96,194,0.6), -80px -15px 120px 0px rgba(229,96,194,0.4);
    box-shadow: 0px 0px 10px rgba(229,96,194,0.8), 0px 0px 30px rgba(229,96,194,0.8), 0px 0px 50px rgba(229,96,194,0.6), 0px 0px 70px rgba(229,96,194,0.6), -80px -15px 120px 0px rgba(229,96,194,0.4);
}

input[value="off"]:checked ~ label:after {
    content: " ";
    width: 15px;
    height: 15px;
    top: 0;
    position: absolute;
    left: 0;
    margin-left: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(255,255,255,0.03);
}

#sorpresa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
input[value="off"]:checked ~
#lampadina #sorpresa {
    opacity: 0;
}
input[value="on"]:checked ~
#lampadina #sorpresa {
    opacity: 1;
}
#footer {
    position: fixed;
    width: 94%;
    text-align: center;
    bottom: 30%;
    padding: 0 3%;
    z-index:1;
}
#shadow {
    position: fixed;
    width: 94%;
    text-align: center;
    bottom: 29%;
    padding: 0 3%;
    color:rgba(0,0,0,0);
    -webkit-text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    -moz-text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    -ms-text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    -o-text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    -webkit-transform-origin: 50% 0px;
    -moz-transform-origin: 50% 0px;
    -ms-transform-origin: 50% 0px;
    -o-transform-origin: 50% 0px;
    transform-origin: 50% 0px;
    -webkit-animation: ombraTesto .9s ease-in-out 0s infinite alternate;
    -moz-animation: ombraTesto .9s ease-in-out 0s infinite alternate;
    -ms-animation: ombraTesto .9s ease-in-out 0s infinite alternate;
    -o-animation: ombraTesto .9s ease-in-out 0s infinite alternate;
    animation: ombraTesto .9s ease-in-out 0s infinite alternate;
}
@-webkit-keyframes oscillaFilo {
    from {
        -webkit-transform:rotate(5deg);
    } to {
        -webkit-transform:rotate(-5deg);
    }
}
@-moz-keyframes oscillaFilo {
    from {
        -moz-transform:rotate(5deg);
    } to {
        -moz-transform:rotate(-5deg);
    }
}
@-ms-keyframes oscillaFilo {
    from {
        -ms-transform:rotate(5deg);
    } to {
        -ms-transform:rotate(-5deg);
    }
}
@-o-keyframes oscillaFilo {
    from {
        -o-transform:rotate(5deg);
    } to {
        -o-transform:rotate(-5deg);
    }
}
@keyframes oscillaFilo {
    from {
        transform:rotate(4deg);
    } to {
        transform:rotate(-4deg);
    }
}

@-webkit-keyframes oscillaLampadina {
    from {
        -webkit-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -webkit-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@-moz-keyframes oscillaLampadina {
    from {
        -moz-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -moz-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@-ms-keyframes oscillaLampadina {
    from {
        -ms-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -ms-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@-o-keyframes oscillaLampadina {
    from {
        -o-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -o-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@keyframes oscillaLampadina {
    from {
        transform: rotate(3deg) translate(-19.4px,-1px);
    } to {
        transform: rotate(-3deg) translate(19.4px,-1px);
    }
}

@-webkit-keyframes ombraTesto {
    from {
        -webkit-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
    } to {
        -webkit-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@-moz-keyframes ombraTesto {
    from {
        -moz-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
    } to {
        -moz-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@-ms-keyframes ombraTesto {
    from {
        -ms-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
    } to {
        -ms-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@-o-keyframes ombraTesto {
    from {
        -o-transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
    } to {
        -o-transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}
@keyframes ombraTesto {
    from {
        transform: translate(1px,0px) scale(1.01,1.06) skew(0.9deg, 0deg);
    } to {
        transform: translate(-1px,0px) scale(1.01,1.06) skew(-0.9deg, 0deg);
    }
}