.stopwatch {
    text-align: center;
    position: fixed;
    right: 80px;
    top: 70px;
}
.stopwatch-timer {
    font-size: 58px;
    font-weight: 100;
    line-height: 180px;

    text-align: center;
    margin: 0;

    background-color: white;

    border: 7px solid #cecfd0;
    border-radius: 50%;

    padding: 10px;
    width: 220px;
    height: 220px;
}
